#Â Cleaning Data

In [1]:
import pandas as pd
import matplotlib. pyplot as plt 
from src.models import *
from src.to_numerrical import *

In [11]:
from sklearn.model_selection import train_test_split

In [19]:
from sklearn.linear_model import LinearRegression,Ridge,RidgeCV,SGDRegressor,ElasticNet,Lars,Lasso,OrthogonalMatchingPursuit

In [20]:
from sklearn.ensemble import ExtraTreesRegressor,GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor

In [2]:
train=pd.read_csv("./Input/train.csv", index_col=0)
train.head()

    carat        cut color clarity  depth  table     x     y     z  price
id
0    0.30  Very Good     F     VS2   62.8   56.0  4.29  4.31  2.70    605
1    0.34      Ideal     E     SI1   62.6   55.0  4.46  4.49  2.80    565
2    0.40  Very Good     D     SI1   60.3   62.0  4.70  4.75  2.85    720
3    0.40    Premium     H     VS1   61.8   59.2  4.72  4.74  2.92    793
4    0.90  Very Good     D     SI1   61.0   63.0  6.10  6.13  3.73   4381

In [3]:
#Todos los valores tiene que ser numeros, para poder utilizarlos.
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40455 entries, 0 to 40454
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    40455 non-null  float64
 1   cut      40455 non-null  object
 2   color    40455 non-null  object
 3   clarity  40455 non-null  object
 4   depth    40455 non-null  float64
 5   table    40455 non-null  float64
 6   x        40455 non-null  float64
 7   y        40455 non-null  float64
 8   z        40455 non-null  float64
 9   price    40455 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.4+ MB

In [4]:
train=make_it_numerical(train)
train.head()

    carat  cut  color  clarity  depth  table     x     y     z  price
id
0    0.30    4      2        5   62.8   56.0  4.29  4.31  2.70    605
1    0.34    2      1        2   62.6   55.0  4.46  4.49  2.80    565
2    0.40    4      0        2   60.3   62.0  4.70  4.75  2.85    720
3    0.40    3      4        4   61.8   59.2  4.72  4.74  2.92    793
4    0.90    4      0        2   61.0   63.0  6.10  6.13  3.73   4381

In [5]:
#Nulos
train.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [6]:
train.describe()

,carat,cut,color,clarity,depth,table,x,y,z,price
count,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000
mean,0.797150,2.556569,2.598294,3.839748,61.746612,57.453561,5.729391,5.733217,3.537644,3928.715264
std,0.472872,1.027918,1.698944,1.722592,1.431006,2.235668,1.121283,1.151076,0.709557,3985.070609
min,0.200000,0.000000,0.000000,0.000000,43.000000,43.000000,0.000000,0.000000,0.000000,326.000000
25%,0.400000,2.000000,1.000000,2.000000,61.000000,56.000000,4.710000,4.720000,2.910000,946.500000
50%,0.700000,2.000000,3.000000,4.000000,61.800000,57.000000,5.700000,5.710000,3.530000,2398.000000
75%,1.040000,3.000000,4.000000,5.000000,62.500000,59.000000,6.540000,6.540000,4.040000,5328.500000
max,4.500000,4.000000,6.000000,7.000000,79.000000,95.000000,10.230000,58.900000,31.800000,18818.000000

In [25]:
train.to_csv("./Output/train_GF.csv",index_label="id")

# Model_Exploration

####Â Una vez que no tenemos nulos, y no todos los datos son valores numericos, procedemos con la busqueda de un modelo.

Dado que lo que queremos obtener es una valor numerico , se trata de una regresion. Vamos a proceder a comparar el resultado de algunos modelos lineales y no lineales.

## Train_test_Split

In [12]:
X_train, X_test, y_train, y_test  = train_test_split(train.drop(columns="price"),train.price, test_size=0.2)

In [13]:
train_split=[X_train, X_test, y_train, y_test ]

## Linear_models

In [15]:
lineral_models = {
          "LinearRegression":LinearRegression(),
          "Ridge":Ridge(),
          "SGDRegressor":SGDRegressor(),
          "ElasticNet":ElasticNet(),
          "Lars":Lars(),
          "Lasso":Lasso(),
          "OrthogonalMatchingPursuit":OrthogonalMatchingPursuit()
         }

In [16]:
datamodels(lineral_models,train_split)

--------Training:LinearRegression--------
RMSE->1371.6961897313859
--------Training:Ridge--------
RMSE->1371.573154302581
--------Training:SGDRegressor--------
RMSE->61383457.56976264
--------Training:ElasticNet--------
RMSE->1810.2365016334807
--------Training:Lars--------
RMSE->1371.696189731386
--------Training:Lasso--------
RMSE->1371.2849661014525
--------Training:OrthogonalMatchingPursuit--------
RMSE->1565.0633326126967

## Non_Linear_models

In [21]:
models_non_linear={
    "ExtraTreesRegressor":ExtraTreesRegressor(),
    "GradientBoostingRegressor":GradientBoostingRegressor(),
    "RandomForestRegressor":RandomForestRegressor()
    }

In [22]:
datamodels(models_non_linear,train_split)

--------Training:ExtraTreesRegressor--------
RMSE->535.2837356036289
--------Training:GradientBoostingRegressor--------
RMSE->681.7429856204811
--------Training:RandomForestRegressor--------
RMSE->554.4444742878328

Como podemos observar el error cuadratico medio entre nuestro grounthtruth y la prediccion es muchsimo menor para los modelos no lineales seleccionados. Por ello, vamos a seleccionar estos tres ultimos he intentar reducir aun mas su error, mejorando asi la preddcion modificando los hiperparametros en otro Notebook.